Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  google-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -google-readability-braces-around-statements,
  -google-readability-namespace-comments,
  -llvm-namespace-comment,
  -misc-no-recursion,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
